.msgAlert {
    color: rgba(161, 149,149,1);
    text-align: center;
}

.msgAlertTabNavigation {
    display: none;
}

.msgAlertStays {
    display: none;
}

.msgAlertInside {
    display: none;
}

.msgAlertTheModal {
    display: none;
}

.msgAlertInput {
    display: none;
}

.msgAlertClose {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 2%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}