.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: red;
}

.tableActions {
    width: 205 px;
}

.todoForm {
    padding-bottom: 60px;
}

.tdButton {
    margin: 300px;
}